*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
}

.main{
 display: flex;
 flex-direction: column;
 width: 100%;
 text-align: center;
 align-items: center;
}

.search-box{
 width: 596px;
 height: 40px;
 border: 1px solid rgb(190, 190, 190);
 box-shadow: none;
 border-radius: 50px;
 transition: all 0.3s ease-in-out;
}

.search-box:hover{
 background-color: #fff;
 box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
 border-color: rgba(223,225,229,0)
}

.icon{
 display: flex;
 align-items: center;
 height: 40px;
 padding-right: 13px;
 padding-left: 7px;
}

.search-input{
 margin-top: 6px;
 width: 100%;
}

#search{
 width: 100%;
 border: none;
 outline: none;
 margin: 0;
 padding: 0;
 color: rgba(0, 0, 0, .87);
 font-size: 18px;
}