*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main{
 display: flex;
 flex-direction: column;
 width: 100%;
 text-align: center;
 align-items: center;
}

.search-box{
 width: 596px;
 height: 40px;
 border: 1px solid rgb(190, 190, 190);
 box-shadow: none;
 border-radius: 50px;
}

.icon{
 display: flex;
 align-items: center;
 height: 40px;
 padding-right: 13px;
 padding-left: 7px;
}